#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.component {
  float: left;
  padding: 10pt;
}

.table-wrp  {
  max-height: 75vh;
  overflow-y: auto;
  display:block;
}
thead{
  position:sticky;
  top:0
}

.recharts-wrapper {
  margin : 0 auto;
}

.recharts-container {
  padding: 50px;
}